/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f0ebf8;
}

img {
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #333;
}

p,
label {
  color: #444;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
  width: 400px;
  display: block;
  margin-top: 15px;
}

textarea {
  padding: 10px 5px;
}

/* page header */
.header {
  height: 160px;
  padding: 20px;
  background-color: #1f6dda;
}

.header .axis-logo {
  width: 250px;
  margin-top: 20px;
}

/* form container */
.form-container {
  background-color: #fdfdfd;
  width: 60%;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  top: -62px;
}

/* form header */
.form-header {
  border-bottom: 1px solid #dfdfdf;
  height: 20px;
}

.form-header p {
  color: #1f6dda;
  border-bottom: 2px solid #1f6dda;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  height: 20px;
}

/* form body */
.form-body {
  padding: 30px;
}

.form-title {
  margin-bottom: 15px;
}

.form-body p {
  margin-bottom: 20px;
}

.required-field {
  color: #d80835;
}

.box-input {
  margin-bottom: 35px;
}

.box-input #tecnico {
  display: inline;
  flex-wrap: wrap;
  margin: 5px;
}

.box-input #prioridade {
  display: inline;
  flex-wrap: wrap;
  margin: 10px;
}

.block {
  display: block;
}

.optional-box {
  display: inline-block;
  margin: 0 30px 30px 0;
}

.optional-list li {
  list-style: none;
  margin-bottom: 5px;
}

.box-input p {
  margin-bottom: 15px;
}

.btn-submit {
  background-color: #1f6dda;
  color: #fff;
  border: 2px solid transparent;
  padding: 15px;
  text-decoration: none;
  width: 100px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn-submit:hover {
  background-color: #fff;
  border-color: #1f6dda;
  color: #1f6dda;
}

/* Responsividade */

@media (max-width: 450px) {
  .form-container {
    width: 80%;
  }

  .header .axis-logo {
    width: 150px;
  }

  .form-title {
    font-size: 20px;
  }

  .box-input #tecnico {
    margin: 10px;
    display: inline-block;
    width: 10px;
  }

  .box-input input[type="radio"] {
    display: block;
    margin: 15px;
  }

  input[type="text"],
  textarea {
    width: 270px;
    display: block;
    margin-top: 15px;
  }
}
